<div class="container">
  <kt-header-plasma></kt-header-plasma>
  <div class="row">
    <div class="col-12">
      <div class="m-5 p-5">
        <div class="kt-register__form">
          <kt-portlet [class]="'kt-portlet--height-fluid'" [ngStyle]="{'width': '100%'}">
            <kt-portlet-body>
              <form [formGroup]="formGroup" autocomplete="off" class="kt-register__form kt-form w-100" [ngStyle]="{'margin': 'auto'}">
                <div class="row">
                  <div class="col-3 p-5 text-right">
                    <img src="./assets/media/plasma/icono-dona.svg" width="84px" height="84px" />
                  </div>
                  <div class="col-9 m-auto p-5 align-items-center h-100">
                    <div>
                      <h3>Debes tener 2 pruebas <b>negativas</b> a Covid-19</h3>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <mat-form-field class="input-full-width w-100">
                        <mat-select placeholder="Tipo de sangre" aria-label="Tipo de sangre" formControlName="blood_type_id">
                          <mat-option *ngFor="let enumObj of bloodTypes" value="{{ enumObj.value }}">{{ enumObj.display }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="isControlHasError('blood_type_id','required')">
                          <strong>Este campo es requerido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <mat-form-field class="input-full-width w-100">
                        <mat-label>Tu nombre (Opcional)</mat-label>
                        <input formControlName="name" matInput placeholder="Tu nombre (Opcional)" type="text"/>
                        <mat-error *ngIf="isControlHasError('name','required')">
                          <strong>Este campo es requerido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <mat-form-field class="input-full-width w-100">
                        <mat-label>Tu tel&eacute;fono</mat-label>
                        <input formControlName="cell" matInput placeholder="Teléfono" type="text"/>
                        <mat-error *ngIf="isControlHasError('cell','required')">
                          <strong>Este campo es requerido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <mat-form-field class="input-full-width w-100">
                        <mat-label>Tu email (Opcional)</mat-label>
                        <input formControlName="email" matInput placeholder="Tu email (Opcional)" type="text"/>
                        <mat-error *ngIf="isControlHasError('email','required')">
                          <strong>Este campo es requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('email','email')">
                          <strong>Por favor ingrese un email v&aacute;lido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <mat-form-field class="input-full-width w-100">
                        <mat-select placeholder="Tu ciudad" aria-label="Tu ciudad" formControlName="city_id">
                          <mat-option *ngFor="let enumObj of cities" value="{{ enumObj.value }}">{{ enumObj.display }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="isControlHasError('city_id','required')">
                          <strong>Este campo es requerido</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-xs-12 col-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <mat-checkbox formControlName="public">Perfil p&uacute;blico</mat-checkbox>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 text-center">
                    <div class="kt-register__actions" [ngStyle]="{'margin-bottom': '0.5rem'}">
                      <a routerLink="/home" routerLinkActive="active" class="btn btn-success mr-5">Volver
                      </a>
                      <button [disabled]="!formGroup.valid || loading || !formGroup.dirty" (click)="submit()"
                              [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                              class="btn btn-primary btn-elevate ml-5">Quiero donar
                      </button>
                    </div>
                  </div>
                </div>

              </form>
            </kt-portlet-body>
          </kt-portlet>
        </div>
      </div>
    </div>
  </div>
</div>
<kt-footer-plasma></kt-footer-plasma>
<swal
        #coolModal
        [swalOptions]="coolModalOption"
>
  <div *swalPortal>
    Gracias por su apoyo!
  </div>
</swal>

<swal
        #failModal
        [swalOptions]="failModalOption"
>
  <div *swalPortal>
    Por favor intente nuevamente en un par de segundos
  </div>
</swal>
