<!-- begin:: Footer -->
<div class="footer bg-white py-4 d-flex flex-lg-column mb-5" id="kt_footer" [ngClass]="footerClasses">
    <div [ngClass]="footerContainerClasses" class=" d-flex flex-column flex-md-row align-items-center justify-content-between w-100">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1 pl-5">
            <span>Con el apoyo de </span><a href="https://www.facebook.com/fundacionnaira" target="_blank" class="text-info text-hover-primary"><img alt="Fundación Naira" [ngStyle]="{'width': '10rem'}" class="fa-font-awesome-logo-full" src="./assets/media/plasma/logo-white.png" /></a>
        </div>
        <!--end::Copyright-->

        <!--begin::Nav-->
        <div class="nav nav-dark order-1 order-md-2 pr-5">
            <a routerLink="/home" routerLinkActive="active" class="nav-link px-3">Inicio</a>
            <a routerLink="/receptores" routerLinkActive="active" class="nav-link px-3">Receptores</a>
            <!-- <a routerLink="/recibe" routerLinkActive="active" class="nav-link px-3">Recibe</a> -->
            <a routerLink="/donadores" routerLinkActive="active" class="nav-link pl-3 pr-0">Donadores</a>
            <!-- <a routerLink="/dona" routerLinkActive="active" class="nav-link pl-3 pr-0">Dona</a> -->
            <a routerLink="/faq" routerLinkActive="active"class="nav-link pl-3 pr-0">Inf&oacute;rmate</a>
        </div>
    </div>
</div>
<!-- end:: Footer -->

